<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/core-icon-button/core-icon-button.html">
<link rel="import" href="event-card.html">
<link rel="import" href="../../services/events-service.html">

<polymer-element name="event-list">
  <template>
    <style>
    </style>

    <events-service id="service" events="{{events}}">
    </events-service>

    <template repeat="{{event in events}}">

      <event-card
        on-card-selected="{{cardSelected}}">
        <img width="70" height="70"src="{{event.avatar}}">
        <p>{{event.text}}</p>
      </event-card>

    </template>

  </template>
  <script>
    Polymer({
      cardSelected: function(event, detail, sender) {
        console.log(sender.templateInstance.model.event);
      }
    });
  </script>
</polymer-element>
