<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/core-icon-button/core-icon-button.html">
<link rel="import" href="../../bower_components/google-map/google-map.html">
<link rel="import" href="../../bower_components/google-map/google-map.html">
<link rel="import" href="../../bower_components/twbs-grid/twbs-grid.html">

<polymer-element name="event-detail" attributes="event">
  <template>
    <style>
    :host {
      height: 100%;
    }

    google-map {
      display: block;
      height: 100%;
    }

    .details {
      height: 40%
    }

    .map-container {
      height: 60%;
      margin: 10px;
      margin-bottom: 0px;
    }

    </style>

    <bs-row class="details">
      <ul>
        <li>{{event.summary}}</li>
        <li>{{event.location}}</li>
      </ul>
    </bs-row>
    <bs-row class="map-container">
      <google-map class="google-map"
        latitude="{{event.geocodedLocation.k | parse}}"
        longitude="{{event.geocodedLocation.B | parse}}" id="map" fitToMarkers zoom="15">
        <google-map-marker
          latitude="{{event.geocodedLocation.k | parse}}"
          longitude="{{event.geocodedLocation.B | parse}}" draggable="true">
        </google-map-marker>
      </google-map>
    </bs-row>

  </template>
  <script>
    Polymer({
      publish: {
        show: function() {
          this.$.map.resize();
        }
      },
      parse: function(value) {
        return Number.parseFloat(value);
      }
    });
  </script>
</polymer-element>
