<!doctype html>
<html>

<head>

  <title>unquote</title>

  <meta name="viewport"
  content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

  <script src="../bower_components/webcomponentsjs/webcomponents.js">
  </script>
  <script src="../bower_components/jquery/dist/jquery.min.js">
  </script>
  <script src="../bower_components/moment/min/moment.min.js">
  </script>

  <link rel="stylesheet" type="text/css" href="../css/style.css">

  <!-- My components -->
  <link rel="import" href="components/events-panel.html">

</head>

<body unresolved>

  <events-panel></event-panel>
</body>

</html>
